Boris Däppen <bdaeppen.perl@gmail.com> <boris_daeppen@bluewin.ch>
Kahlil (Kal) Hodgson <kahlil.hodgson@dealmax.com.au> <kahlil@dealmax.com.au>
Jeffrey Ryan Thalhammer <jeff@thaljef.org> <jeff@imaginative-software.com>
Jeffrey Ryan Thalhammer <jeff@thaljef.org> <jeff@callahan.local>
Jeffrey Ryan Thalhammer <jeff@thaljef.org>
